body{
	background: #ADA996;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.box{
	border:2px solid black;
	width:350px;
	height:650px;
	border-radius:20px;
	margin:auto;
	box-shadow:2px 2px;
	background-color:#fefefe
	}
img{
	margin-top:10px;
}
h3{
	color:green;
	font-size:2px;
	font-family:Monospace;
	border:1px solid green;
	border-radius:10px;
	margin-left:5px;
	margin-right:5px;
}
label{
	font-family:monospace;
	font-weight:bolder;
	color:black;
	font-size:15px;
	margin-right:200px;
}
#name{
	border:2px solid black;
	border-top:none;
	border-left:none;
	border-right:none;
	width:270px;
	margin-top:-13px; 
 background:transparent;
}
#name:hover{
	border:2px solid green;
	border-top:none;
	border-left:none;
	border-right:none;
	width:270px;
	
	background:transparent;
}
#pass{
	
	border:2px solid black;
	border-top:none;
	border-left:none;
	border-right:none;
	width:270px;
	margin-top:-13px; 
 background:transparent;
 
}
#pass:hover{
	border:2px solid green;
	border-top:none;
	border-left:none;
	border-right:none;
	width:270px;
	
	background:transparent;
}
#check{
 border:1px solid black;
 margin-left:-130px;
 width:150px;
 box-shadow:2px 1px;
 font-size:3px;
}
#btn{
 padding:7px;
 
 color:white;
 font-family:monospace;
 width:180px;
 font-weight:bolder;
 border-radius:10px;
 box-shadow:2px 3px;
 border:2px solid lightgreen;
}
#btn1{
 width:80x;
 border:2px solid black;
 color:white;
 border-radius:7px;
 margin-top:-10px;
 padding:1px;
 height:20px;
 font-size:10px;
}
.p1{
  width:100px;
  background:#Fefefe;
  font-weight:bolder;
  margin-top:-25px;
  
}
.go{
 background:red;
 color:white;
 width:90px;
 font-family:monospace;
 font-weight:bolder;
 padding:7px;
 border-radius:7px;
}
.fb{
 background:blue;
 color:white;
 width:90px;
 font-family:monospace;
 font-weight:bolder;
 padding:7px;
 border-radius:7px;
}
.social{
 margin-top:-20px;
}
#us{
 font-size:16px;
 width:110px;
 margin-left:5px;
}
#signup{
	margin-top:-10px;
	font-weight:bolder;
	
	
}
#create{
	margin-top:-10px;
	padding:5px;
		width:150px;
}

